@page
@model IndexModel
@{
    ViewData["Title"] = "Explore";
}

<div class="row">
    <table class="arrowes-table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Description</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var person in Model.People)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.Description</td>
                <td>@person.Emails.MinBy(e => e.Id)?.Address</td>
                <td>
                    <a asp-page="./AddEmail" asp-route-id="@person.Id">Add Email</a>
                    <a asp-page="./EditPerson" asp-route-id="@person.Id">Edit</a>
                    <button type="submit" asp-page-handler="delete" asp-route-id="@person.Id">delete</button>

                </td>
            </tr>
        }
        </tbody>
    </table>
</div>